<!-- <!DOCTYPE html>
<html>
<h1>
    LukeVonKarma Title Generator (WIP)
 </h1>
 <form method="post" action "http://localhost:9999/result">
  Prompt: <input prompt="prompt"/>
  <br/><br/>
  <button type="submit">Submit</button>
 </form>
 <br/><br/>
</html> -->

<html>
   <h1>
      LukeVonKarma Title Generator (WIP)
   </h1>
   <body>
      <form action = "http://localhost:9999/result" method = "POST">
         <p>Prompt <input name = "prompt" /></p>
      </form>
      <br/><br/>
      <br/><br/>
      <p><strong>{{ result }}</strong>)</p>
   </body>
</html>